<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Kevin Shieh</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

</head>

<body class="box">

<!-- <section id="header">

</section> -->


<section id="content">
  <div class="{% block content_class %}container{% endblock content_class %}">

    <div class="content" role="main">
      {% block content %}{% endblock %}
    </div>

  </div>
</section>

<section id="footer">
  <nav>
    <ul>
      <li><a href="https://www.facebook.com/kevshieh"/><img src="{{ url_for('static', filename='facebook500.png') }}" width="30" height="30"/></li>
      <li><a href="https://www.linkedin.com/in/kshieh"/><img src="{{ url_for('static', filename='linkedin.png') }}" width="30" height="30"/></li>
      <li><a href="https://twitter.com/kevshieh"><img src="{{ url_for('static', filename='twitter.png') }}" width="30" height="30"/></li>
      <li><a href="https://github.com/kevinshieh"/><img src="{{ url_for('static', filename='github.png') }}" width="30" height="30"/></li>
    </ul>
  </nav>
</section>

</body>
</html>
