<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Kevin Shieh</title>
<!--   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block css %}{% endblock %} -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

</head>

<body class="box">

<section id="banner">
  <nav>
    <h1 style="font-size: 30px">
      Kevin Shieh
    </h1>


    <ul>
      <li><a href="{{ url_for('about') }}">About</a></li>
      <li><a href="{{ url_for('resume') }}">Resume</a></li>
      <li><a href="https://github.com/kevinshieh">GitHub</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
    </ul>
  </nav>
</section>

<div class="{% block content_class %}container{% endblock content_class %}">

  <div class="content" role="main">
    {% block content %}{% endblock %}
  </div>

</div>
<!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
</body>
</html>
