{% extends "base.html" %}
{% block content %}

<head>
  <meta charset="utf-8">
  <title>Contact</title>
</head>

<body class="box">

<div>

  <h1 style="font-family: Lucida Console; color: #aaaaaa;">Contact</h1>
    <li> Email: kevshieh@gmail.com</li>
    <li><a href="https://github.com/kevinshieh">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/kshieh">LinkedIn</a></li>
    <li><a href="https://www.facebook.com/kevshieh">Facebook</a></li>
    <li><a href="https://twitter.com/kevshieh">Twitter</a></li>

</div>
</body>
</html>

{% endblock %}
