{% extends "base.html" %}
{% block content %}

<head>
  <meta charset="utf-8">
  <title>About</title>
</head>

<body class="box">

<div id="page">

  <h1><a href="{{ url_for('about') }}">About</a></h1>
  <p>
    Hi im th ebest
  </p>

<!--   <p>
    Here is my <a href="{{ url_for('static', filename='resume.pdf') }}" style="text-decoration: none" target="_blank">resume</a>.
  </p> -->
<div id="emoji"></div>

  <script type="text/javascript">
      var rand = Math.random()
      if (rand < 0.1) {
        var emoji = "(☆^ー^☆)"
      } else if (rand < 0.2) {
        var emoji = "(ヾ(´･ω･｀)"
      } else if (rand < 0.3) {
        var emoji = " ヽ(ｏ`皿′ｏ)ﾉ"
      } else if (rand < 0.4) {
        var emoji = "(。┰ω┰。)"
      } else if (rand < 0.5) {
        var emoji = "＼(o￣∇￣o)/"
      } else if (rand < 0.6) {
        var emoji = " (-'๏_๏'-)"
      } else if (rand < 0.7) {
        var emoji = "((((；゜Д゜)))"
      } else if (rand < 0.8) {
        var emoji = " o(╥﹏╥)o"
      } else if (rand < 0.9) {
        var emoji = "（*´▽｀*）"
      } else {
        var emoji = " (｀・ω・´)"
      }

      document.getElementById('emoji').innerHTML = "Here is a random emoji " + emoji;
    </script>



</div>
</body>

{% endblock %}
